[alias]
  co = checkout
  st = status
  ci = commit
  commush = !git commit -a && git push
  cu = !git commit -a && git push
  df = !git diff --no-prefix && git diff --staged --no-prefix
  clear = reset --hard
  pull-recursive = !git pull && git submodule update --init
  stache = !echo "Waxing and twirling..." && echo && git stash $@
  loll = log --graph --decorate --pretty=oneline --abbrev-commit
  lol = !git --no-pager loll
  lolal = log --graph --decorate --pretty=oneline --abbrev-commit --all
  lola = !git --no-pager lolal
  pum = pull upstream master
  pum = pull upstream dev
[color]
  ui = auto
  sh = auto
[push]
  default = tracking
[user]
	name = Mason Wendell
	email = mason@canarypromo.com

[mergetool]
  keepBackup = true
[credential]
  helper = osxkeychain
[core]
	excludesfile = /Users/Mason/.gitignore-global
